header {
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    background-color: #191b20;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;

    &.active {
      border: 2px solid orange;
    }

    svg {
      height: 20px;
      width: 20px;
      color: #fff;
    }
  }
}
