nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 60px);
  min-width: 240px;
  background-color: #191b20;
  box-shadow: 0 0px 6px 0 #000;
  position: fixed;
  top: 60px;
  overflow-y: auto;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  nav {
    position: fixed;

    transform: translateX(-105%);
    transition: transform 0.3s;
  }

  .menu-opened {
    transform: translateX(0);
  }
}

@media screen and (max-width: 480px) {
  nav {
    height: calc(100vh - 50px);
    top: 50px;
  }
}

@media screen and (max-height: 480px) and (orientation: landscape) {
  nav {
    height: calc(100vh - 50px);
    top: 50px;
  }
}
