.loading-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px);
  gap: 20px;

  div {
    width: 50px;
    height: 50px;
    position: relative;
    background-color: #282c34;
    border-radius: 50%;

    &::before {
      display: block;
      content: '';
      background: linear-gradient(
        180deg,
        rgba(255, 165, 0, 0) 60%,
        rgba(255, 165, 0, 1) 100%
      );
      width: 58px;
      height: 58px;
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      animation: rotate 1s linear infinite;
      z-index: -1;
    }
  }

  p {
    font-size: 24px;
  }
}

@media screen and (max-width: 480px) {
  .loading-page {
    height: calc(100vh - 100px);
  }
}

@media screen and (max-height: 480px) and (orientation: landscape) {
  .loading-page {
    height: calc(100vh - 100px);
  }
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
