.main-modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 600px;
  max-width: 900px;
  width: calc(100% - 4em);
  background-color: #20232a;
  border-radius: 8px;
  padding: 20px 16px;
  gap: 30px;
  overflow-y: auto;

  div > p:nth-of-type(1) {
    font-size: 30px;
  }

  div > p:nth-of-type(2) {
    margin-top: 20px;
    font-size: 18px;
  }

  div > a {
    display: block;
    margin-top: 20px;
    word-break: break-all;
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .main-modal {
    width: calc(100% - 2em);
    max-height: 450px;

    div > p:nth-of-type(2) {
      font-size: 16px;
    }

    div > a {
      font-size: 16px;
    }
  }
}

@media screen and (max-height: 480px) and (orientation: landscape) {
  .main-modal {
    width: calc(100% - 2em);
    max-height: 300px;

    div > p:nth-of-type(2) {
      font-size: 16px;
    }

    div > a {
      font-size: 16px;
    }
  }
}
